body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}
.main{
    width: 100vw;
    height: 100vh;
    background: url(./assets/bg1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}